@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

.portfolio_shape {
	position: relative;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.32));
	/* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.32); */
}
.portfolio_shape::after {
	content: "";
	height: 0;
	width: 0;
	border-top: 20px solid #eeeeee;
	border-right: 20px solid #00800000;
	border-left: 20px solid #eeeeee;
	border-bottom: 20px solid #00000000;
	position: absolute;
	bottom: -34px;
	left: 0;
	z-index: 10;
}

@theme {
	/* Colors */
	--color-black-222: #222222;
	--color-black-063: #121063;
	--color-black-d0a: #110d0a;
	--color-gray-75: #757575;
	--color-red-45: #ff4545;
    --color-gray-f3: #f3f3f3;

	/* Font Family */
	--font-jost: "Jost", sans-serif;

	/* Breakpoint */
	--breakpoint-*: initial;
	--breakpoint-xs: 30rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 82rem;
}

@layer base {
	body {
		@apply font-jost overflow-x-hidden;
	}
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
